<% unless comment.archived? %>
    <P>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
    </P>

    <P>
        <strong>Comment:</strong>
        <%= comment.body %>
    </P>
<% end %>