<div id="<%= dom_id jewel %>">
  <p>
    <strong>Type:</strong>
    <%= jewel.type %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= jewel.material %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= jewel.price %>
  </p>

</div>
